.HomePageAdmin {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .HomePageAdmin-body {
    display: flex;
    flex: 1;
  }

  .HomePageAdmin-content {
    flex: 1;
    padding-left: 20px;
  }
  
  .HomePageAdmin-new-articles {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
  }
  
  .HomePageAdmin-article-link {
    text-decoration: none; /* Menghapus dekorasi teks dari link */
  }
  
  .HomePageAdmin-article-card {
    background: #f9f9f9;
    padding: 10px; /* Kurangi padding untuk memperkecil ukuran card */
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 200px; /* Kurangi lebar minimal card */
    max-width: 200px; /* Tetapkan lebar maksimal card */
    display: flex;
    flex-direction: column; /* Membuat konten card berbaris vertikal */
    align-items: center;
    text-align: center;
    cursor: pointer; /* Ubah kursor menjadi pointer */
    height: 250px; /* Tetapkan tinggi card yang sama */
    justify-content: space-between; /* Sebar konten secara merata dalam card */
  }
  
  .HomePageAdmin-article-image {
    width: 100%;
    height: 150px; /* Kurangi tinggi gambar */
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .HomePageAdmin-article-card h2 {
    margin: 0;
    font-size: 16px; /* Kurangi ukuran font judul */
    color: #333;
    flex-grow: 1; /* Biarkan judul tumbuh untuk memenuhi ruang */
  }