/* Updated HomePageAdmin.css */
.HomePageAdmin {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Changed from height to min-height for better flexibility */
}

.HomePageAdmin-body {
  display: flex;
  flex: 1;
  background-color: #f4f4f4;  /* Added a light gray background for contrast */
}

.HomePageAdmin-content {
  flex: 1;
  display: flex;            /* Added to center content horizontally and vertically */
  justify-content: center;  /* Centers content horizontally */
  align-items: center;      /* Centers content vertically */
  padding: 20px;            /* Uniform padding for cleaner layout */
}

h1 {
  color: #333;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
